*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Variables -- update these fonts, colors, sizes per own website design --> */
:root {
	--ff-primary:   'Source Sans Pro', sans-serif;
	--ff-secondary: 'Source Code Pro', monospace ;
	
	--fw-reg: 300;
	--fw-bold: 900;
	
	--clr-light: #F2F2F2;
	--clr-dark:  #303030;
	--clr-accent: #E3907C;
	
	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;
	
	--bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
		  0.125em 0.125em 0.25em rgba(0,0,0,.15);	/* Shadow*/ 
}


/* Rescales if window is big enough */
@media (min-width: 800px) {
	:root {
		--fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
	}
	
}


body {
	background: var(--clr-light);
	color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body):
	line-height: 1.6;
}

img {
	display: block;
	max-width: 100%;
}

.btn {
	display: inline-block;
	padding: 0.5em 2.5em;
	background: var(--clr-accent);
	color: var(--clr-dark);
	text-decoration: none;
	cursor: pointer;
	font-size: .8rem;
	text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transfrom 200ms ease-in-out;
}


:focus{
	outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn:hover{
	transform: scale(1.1);
}

section {
	padding: 5em 2em;
}


/* Typography setup */

strong { font-weight: var(--fw-bold) }


h1,
h2,
h3 {
    line-height: 1.1;
	margin: 0;
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}

.section__title{
	margin-bottom: .25em;
}

.section__title--intro{
	font-weight: var(--fw-reg);
}

.section__title--intro strong {  /* This is a compound selector - i.e. things that both belong to this class and have the strong tag will derive properties from here*/
    display: block;
}

.section__subtitle{
	margin: 0;
	font-size: var(--fs-h3);
}

.section__subtitle--intro,  /* . means that anything with this class will derive its properties from here*/
.section__subtitle--about {
	background: var(--clr-accent);
    font-family: var(--ff-secondary);
	margin-bottom: 1em;
	padding: 1.5em;
}


/*header*/
nav {display:none;}

/*Intro Setup*/ 

.intro {
	position: relative;
}

.intro__img{
	box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
	}

@media (min-width: 600px) {

	.intro{
		display:grid;
		width:min-content;
		margin: 0 auto;
		grid-column-gap: 1em;
		grid-template-areas:
			"img title"
			"img subtitle";
		grid-template-columns: min-content max-content;
	}
	
	.intro__img {
		grid-area: img;
		min-width: 400px;
		position: relative;
		z-index: 2;  /* Used for layout ordering (above/below)*/
	}
	
	.section__subtitle--intro{
		align-self: start;
		grid-column: -1 / 1;
		grid-row: 2;
		text-align: right;
		position: relative;
		left: -1.5em;
		width: calc(100% + 1.5em)
	}
	
}


/* Services Section */

.my-services{
	background-color: var(--clr-light); /*In case the image doesn't load, will still have contrasting bg color so text will be readable*/
	background-image: url(../img/testim3.jpg);
	background-size: cover;
	/* background-blend-mode: multiply; */
	color: var(--clr-dark);
	text-align: center;
}

.section__title--services{
	color: var(--clr-accent)
	position: relative;
}

.section__title--services::after{ /*Pseudo-element - references this class and appears after it but isn't itself a class */
	content: '';
    display: block;
    width: 2em;
    height: 1px;
	margin: 0.5em auto 1em; /* top left right bottom */
	background: currentColor;
	opacity: 0.25;

}

.service{
	max-width:500px;
	margin: 0 auto;
}

.services {
    margin-bottom: 4em;
}

@media (min-width: 800px) {
	.services{
		display:flex; /* creates columns */
		max-width: 1000px;
		margin-left: auto; 
		margin-right: auto;
	}
	
	.service + .service{
		margin-left: 2em;
	}
}

/* About Section */
.about-me {
    max-width: 1000px;
    margin: 0 auto
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px){
	.about-me{
		display:grid;
		grid-template-columns: 1fr 400 px;
		grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
		grid-column-gap: 2em;
	}
	
	.section__title--about{
       grid-area: title;
	}
	
	
	.section__subtitle--about{
       grid-column: 1 / -1;
	   grid-row: 2;
	   position: relative;
	   left: -2em;
	   width: calc(100% + 4em);
	   padding-left: 2em;
       padding-right: calc(400px + 2em); /*so text never touches image*/
	   z-index: 2;
	}
	
	.about-me__img{
		grid-row: 1/-1;
		grid-column: 2;
		z-index: 2;
	}
} 